<!DOCTYPE html>
<html>
<head>
  <title>photogrify.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      CLOUD_NAME: APP_CONFIG.CLOUDINARY_CONFIG.cloud_name,
      UPLOAD_PRESET: APP_CONFIG.CLOUDINARY_CONFIG.upload_preset
    };
  </script>

  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-zsv_p6VphZHcfdTcm-6tIF-EkIlyffM">
  </script>

  <script>APP_CONFIG.ConsolPrint();</script>
</head>


<%= yield %>


</html>
